<div id="wrapper-signin">
  <form (submit)="signin()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required placeholder="Email" [(ngModel)]="form.email" />
    </div><!-- .form-group -->
    <div class="form-group">
      <label for="pw">Password</label>
      <input type="password" id="pw" name="pw" required placeholder="Password" [(ngModel)]="form.pw" />
    </div><!-- .form-group -->
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
</div><!-- #wrapper-signin -->