<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>App</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" 
    content="default-src 'self' https://api.app.local  https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:; connect-src https://api.app.local">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <h1>API</h1>
</body>
</html>
