<div id="wrapper-role">
    <h2>Role</h2>
    <div class="btn-toolbar" role="toolbar" aria-label="Role Actions">
      <div class="btn-group mr-2" role="group" aria-label="Important">
          <button type="button" class="btn btn-secondary" (click)="new()">New</button>
          <button type="button" class="btn btn-secondary" (click)="save()">Save</button>
        </div><!-- .btn-group -->
    </div><!-- .btn-toolbar -->
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required placeholder="Name" [(ngModel)]="form.name" />
      </div><!-- .form-group -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" [(ngModel)]="form.description"></textarea>
      </div>
    </form>
  </div><!-- #wrapper-role -->